
/* 
    Created on : 11/07/2018, 05:35:25 PM
    Author     : USER
*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;  /*COLOCO EL MARGEN EN 0 PARA TRABAJARLO MEJOR*/
    font-family: sans-serif; /*FUENTE DE LAS LETRAS*/
}

.form-register{
    width: 95%; 
    max-width: 500px;
    margin: auto; /*MARGEN CENTRADO AUTOMATICO*/
    background: white;  /*FONDO*/
    border-radius: 7px;  /*CURVATURA DE LAS ESQUINAS DE LA CAJA*/
    margin-top: 10%;
}

.fomr-titulo{
    background: deepskyblue;
    color: #fff;
    padding: 20px;
    text-align: center;   /*TEXTO CENTRADO*/
    font-weight: 100;   /*ANCHO DEL FONDO DE LAS LETRAS*/
    font-size: 30px; /*TAMAÑO DE LAS LETRAS*/
    border-top-left-radius: 7px;  /*CURVATURA DE LA ESQUINA IZQUIERDA Y DERECHA*/
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;   /*BORDE DE LA CAJA ABAJO EN ROJO SOLIDO CON 5PX*/
}

.contenedor-inputs{        /*TODOS LOS INPUTS*/
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    
}

input{                    /* LOS INPUTS COMO EL DE USUARIO Y CONTRASEÑA Y BOTON*/
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}

.input-100{            /* INPUT MÁS GRANDES*/
    width: 100%;  /*que ocupen el 100% de la caja, su espacio definido*/
}

.btn-registrar{   /*CARACTERISTICAS DEL BOTON REGISTRAR*/
    background: crimson;
    color: #fff;
    font-weight: bold;  /* ANCHO DE LA LETRA DEL BOTON*/
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 5px;
    
}
.btn-registrar:active{          /*BOTON REGISTRAR CUANDO SE PRESIONA CRECE*/
    transform: scale(1.05);
}
.form-link{            /*CONFIGURACIONES DEL PÁRRAFO DE REGISTRAR*/
    width: 100%;
    margin:7px;     
    text-align: center;
    font-size: 14px;
    
}


